.contenido_01 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.formulario_desactivado {
    display: none;
}
.formulario_activado {
    margin-top: 30px;
    display: block;
}
.ele_sem {
    width: 500px;
    height: 100px;
    background: white;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin-top: 80px;
}
.input_boton {
    font-size: 25px;
    height: 50px;
    width: 200px;
    background: #0094ff;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
}
.input_boton:hover {
    width: 200px;
    height: 50px;
    font-size: 27px;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    background: #aac9fc;
}
.input_boton_activado:hover {
    width: 200px;
    height: 50px;
    font-size: 27px;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    background: #aac9fc;
}
.input_boton_activado {
    width: 200px;
    height: 50px;
    font-size: 27px;
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background: #003cff;
}
.cl_input_semestre_1_activado label {
    margin-top: 10px;
}
.cl_input_semestre_2_activado label {
    margin-top: 10px;
}
.cl_boton_activado {
    margin-top: 20px;
}
