* {
	--colorPrimario: rgb(0, 0, 253);
	--colorPrimarioLight: #5093ff;
	--colorSecundario: #2405be;
	--colorTerciario: rgb(243, 243, 243);
	--btn-color: #0256ff;
	--btn-hover-color: #52cbff;
	--btn-selected-color: red;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-rows: repeat(3, auto);
	gap: 30px;
	background: rgb(0, 0, 49);
}

body::-webkit-scrollbar {
	border: #c2c2c2 solid 2px;
	background: var(--colorSecundario);
}

body::-webkit-scrollbar-thumb {
	border: gray solid 2px;
	background-color: black;
}

.sombra {
	box-shadow: rgb(0, 0, 255) 0px 0px 25px;
}

.sombraSecundaria {
	box-shadow: rgba(0, 0, 0, 0.432) 10px 10px 10px;
}

.header {
	display: grid;
	grid-template-rows: auto auto;
	gap: 20px;
	width: auto;
	height: auto;
	padding: 20px;
	margin: 20px;
	color: var(--colorTerciario);
	background: var(--colorPrimario);
	border: black solid;
	border-radius: 0px 0px 30px 30px;
}

.header__contenido {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.preview {
	display: grid;
	grid-template-rows: auto auto;
	justify-content: space-between;
	gap: 30px;
}

.preview__title {
	text-shadow: rgb(0, 0, 0, 1) 9px 9px 5px;
	font-family: Verdana;
	font-size: 50px;
}

.ofrecimientos {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ofrecimientos__lista {
	border: black;
	border-width: 5px;
	color: var(--colorTerciario);
	list-style: none;
	font-family: Verdana;
	border-left: solid black 5px;
	border-radius: 5px;
	margin: auto 15px;
}

.ofrecimientos__elemento {
	font-weight: bold;
	font-family: Verdana;
	margin-left: 10px;
}

.logos {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
	margin: auto;
}

.logos__calculadora {
	height: 150px;
	width: auto;
}

.laci {
	--tamanioFuente: 80px;
	display: flex;
	flex-direction: row;
}

.laci__letra-normal {
	font-family: "Inconsolata", monospace;
	font-size: var(--tamanioFuente);
}

.laci__letra-resaltante {
	font-family: "Inconsolata", monospace;
	font-size: var(--tamanioFuente);
	color: var(--colorPrimarioLight);
	text-shadow: 0px 0px 5px black;
}

.laci-menu {
	--tamanioFuente-menu: 50px;
	margin-left: 50px;
	display: flex;
	flex-direction: row;
}

.laci-menu__letra-normal {
	font-family: "Inconsolata", monospace;
	font-size: var(--tamanioFuente-menu);
}

.laci-menu__letra-resaltante {
	font-family: "Inconsolata", monospace;
	font-size: var(--tamanioFuente-menu);
	color: var(--colorPrimarioLight);
	text-shadow: 0px 0px 5px black;
}

.menu {
	display: flex;
	flex-direction: column;
	padding: 5px;
	background: var(--colorSecundario);
	border-radius: 30px;
	border: var(--colorTerciario) solid 1px;
}

.menu__lista {
	display: flex;
	flex-direction: row;
	gap: 50px;
	align-content: center;
	align-items: center;
	list-style: none;
}

.menu__enlace {
	padding: 5px;
	background: var(--btn-color);
	color: var(--colorTerciario);
	text-decoration: none;
	border: var(--colorTerciario) solid 2px;
	border-radius: 30px;
	font-family: Arial;
	font-size: 15px;
}

.menu__enlace:hover {
	background: var(--btn-hover-color);
}

.contenedor {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-between;
	align-items: center;
}

.contenedor__aside {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-left: 10px;
}

.aside {
	margin-top: 10px;
	margin-left: 10px;
	width: 225px;
	height: auto;
	display: grid;
	grid-template-rows: auto auto;
	justify-items: center;
	font-family: verdana;
	font-size: 15px;
	background: var(--colorTerciario);
	border-radius: 10px 10px 0px 0px;
	padding-bottom: 10px;
}

.aside__titulo {
	padding: 5px;
	font-family: "Verdana", Courier, monospace;
	font-size: 15px;
	font-weight: bold;
}

.aside__lista {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.aside__elemento {
	padding: 5px;
	border-color: #5252ff;
	border-style: solid none;
}

.aside__elemento:hover {
	background: #c7c7c7;
	border-color: #2002b8;
	border-style: solid none;
}

.aside__enlace {
	text-decoration: none;
	color: var(--colorPrimario);
}

.redes {
	display: grid;
	grid-template-rows: auto auto;
	justify-items: center;
	overflow: hidden;
	padding-bottom: 10px;
	margin-top: 30px;
	font-family: verdana;
	font-size: 15px;
	background: var(--colorTerciario);
	border: solid black;
	border-style: solid none solid solid;
	border-radius: 50px 0px 0px 50px;
}

.redes__titulo {
	padding: 10px;
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	font-weight: bold;
}

.redes__lista {
	display: grid;
	grid-template-rows: repeat(3, auto);
	gap: 5px;
	list-style: none;
}

.redes__red {
	border-color: #2f2fdb;
	border-style: solid none;
}

.redes__red:hover {
	background: #c2c2c2;
	border-color: var(--colorSecundario);
}

.enlace__enlace {
	display: flex;
	flex-direction: column;
	justify-items: left;
	align-items: center;
	gap: 10px;
	padding: 5px;
	text-decoration: none;
	color: black;
}

.enlace__tag {
	font-family: Arial, Helvetica, sans-serif;
}

.enlace__icono {
	width: auto;
	height: 40px;
	border-radius: 10px;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 15px;
	background: #0d1d2c;
	font-family: "Courier New";
	border-top: solid;
	border: var(--colorPrimario) solid;
	gap: 20px;
}

.footer__parrafo {
	text-align: justify;
	font-family: "Courier New";
	font-size: 15px;
	color: aqua;
}

.footer__copyright {
	font-family: Arial;
	color: aqua;
}

.footer__enlace {
	padding: 5px;
	border-radius: 15px;
	font-family: "Times New Roman", Times, serif;
	border: var(--colorPrimario) solid 2px;
	color: var(--colorTerciario);
	text-decoration: none;
}
