<h1 class="developing__title">En Desarrollo</h1>
<img class="developing__img" src="../view/resources/img/developing.png">
<a class="developing__img-acreditacion" href="https://www.flaticon.es/iconos-gratis/mejorar" title="mejorar iconos">Mejorar iconos creados por Flat Icons - Flaticon</a>
<style>
    .developing__title{
        font-family: 'Courier New', Courier, monospace;
        font-size: 2.5pc;
        color: white;
    }
    .sign__developing{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border: solid black 3px;
        border-radius: 25px;
        background-color: rgb(38, 19, 148);
        padding: 20px;
    }
    .developing__img{
        width: 350px;
    }
    .developing__img-acreditacion{
        text-decoration: none;
        font-size: x-small;
        color: black;
    }
</style>
