<aside class="redes sombra">
    <p class="redes__titulo">Seguinos en</p>
    <ul class="redes__lista">
      <li class="redes__red">
        <div class="enlace">
          <a class="enlace__enlace" target="_blank" href="https://www.facebook.com/profile.php?id=100074691094643">
            <img class="enlace__icono" alt="Facebook.ico" src="../view/resources/img/Facebook.ico">
            <h4 class="enlace__tag">Facebook</h4>
          </a>
        </div>
      </li>
      <li class="redes__red">
        <div class="enlace">
          <a class="enlace__enlace" target="_blank" href="https://www.instagram.com/liquidar_sueldos?utm_medium">
            <img class="enlace__icono" alt="Instagram.png" src="../view/resources/img/Instagram.png">
            <h4 class="enlace__tag">@liquidar_sueldos</h4>
          </a>
        </div>
      </li>
      <li class="redes__red">
        <div class="enlace">
          <a class="enlace__enlace" target="_blank" href="https://twitter.com/LiquidarSueldos?">
            <img class="enlace__icono" alt="Twitter.jpg" src="../view/resources/img/Twitter.png">
            <h4 class="enlace__tag">Twitter</h4>
          </a>
        </div>
      </li>
    </ul>
</aside>
