<p class="footer__copyright"> <a style="text-decoration: none; color: aqua;" href="https://creativecommons.org/licenses/by-nc-sa/4.0" target="_blank">Copyright 2023 - Todos los derechos reservados</a></p>
<p class="footer__parrafo">Página Web producida por medio de software libre.</p>
<a class="footer__enlace" target="_blank" href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&source=mailto&to=cuellojeremiasnatanael@gmail.com">Contacto Programador</a>
<a class="footer__enlace" target="_blank" href="https://github.com/jeremias-cuello/calculadora-de-ganancias">GitHub</a>
